.about-wrp
    background-color: white
    min-height: 200px
    min-width: 100%
    background-image: url(./img/tree.png)
    background-repeat: no-repeat
    background-position: 6% 105%
    background-size: 40%