@import './media/header-media.sass'
    
.header-wrp
    min-width: 10%
    width: 15%
    height: 100vh
    display: flex
    flex-direction: column

    position: fixed
    top: 0
    left: 0

    z-index: 2
    
    background: white

    // background-image: linear-gradient(to top, #fac2c5, #ca9aaa, #98768e, #675570, #373650)

.header-menu
    font-size: 20px
    font-weight: 600
    font-family: 'Roboto'
    text-decoration: none
    color: gray

    margin: 10px
    padding: 10px
    
.header-menu:hover
    background-color: black
    transition: background-color 400ms 

.header-menu--active
    color: red
    border-bottom: 1px solid rgb(72, 72, 79)
    transition: border-bottom 1400ms

.test-enter
    transform: translateY(-100%)
.test-enter.test-enter-active
    transform: translateY(0%)
    transition: transform 300ms ease
    will-change: transform