@import './media/header-media.sass'
    
.header-wrp
    overflow: hidden
    min-width: 10%
    width: 15%
    height: 100vh
    display: flex
    flex-direction: column

    position: fixed
    top: 0
    left: 0

    z-index: 2
    
    background: white
    box-shadow: 9px 2px 19px -8px rgba(0,0,0,0.75)
    // background-image: linear-gradient(to top, #fac2c5, #ca9aaa, #98768e, #675570, #373650)

.header-menu
    width: 100%
    font-size: 20px
    font-weight: 600
    font-family: 'Roboto'
    text-decoration: none
    color: gray

    margin: 10px
    margin-left: 0px
    padding: 10px

    transition: border-left 400ms
    display: flex


    i 
        width: 30%
    span 
        width: 70%
        text-align: left
    
.header-menu:hover
    background-color: black
    transition: background-color 400ms 

.header-menu--active
    color: red
    border-left: 5px solid red
    transition: border-left 400ms

.test-enter
    transform: translateY(-100%)

.test-enter.test-enter-active
    transform: translateY(0%)
    transition: transform 300ms ease
    will-change: transform