.header-wrp
    width: 100%
    position: relative
    z-index: 2
    height: 5vh
    background: linear-gradient(to bottom, #fac1c4, #fcc9c5, rgba(252, 210, 201, 0.43), rgba(252, 219, 206, 0.43), rgba(252, 227, 213, 0.14))


.header-menu
    text-decoration: none
    color: rgb(72, 72, 79)
    margin: 10px
    transition: background-color 400ms
    padding: 10px
    transition: border-bottom 1400ms

.header-menu:hover
    background-color: yellow
    transition: background-color 400ms 

.header-menu--active
    color: red
    border-bottom: 1px solid rgb(72, 72, 79)
    transition: border-bottom 1400ms
