@media only screen and (max-width: 600px)
    .header-wrp
        
        width: 100%
        height: auto
        flex-direction: row
        .header-logo
            flex-direction: row
            width: 100%
            justify-content: flex-start
            i   
                padding: 5%
                display: flex
                align-items: center
            .logo-text
                width: auto
                span 
                    display: block
                    padding: 0
                    margin: 0
                .name
                    display: inline-block
                    padding-right: 5px

        nav 
            display: none


.header-logo:after
    content: none
/* Small devices (portrait tablets and large phones, 600px and up) */
// @media only screen and (min-width: 600px) and (max-width: 750px)
    
// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px)

// /* Large devices (laptops/desktops, 992px and up) */
//  @media only screen and (min-width: 992px)
