@media only screen and (max-width: 600px)
    .portfolio-page
        width: 100%
        height: 91%
        bottom: 0
    .portfolio-page span
        margin-left: 17%
    .portfolio-item-list
        justify-content: none
        .portfolio-item
            box-shadow: 20px 18px 63px -9px rgba(0, 0, 0, 0.27)
            height: 60%
            margin: 5% 0 15% 0
            &:before
                content: none
            .img-wrp
                box-shadow: none
                position: unset
                width: 100%
                height: 40%
            figcaption
                box-shadow: none
                width: 100%
                height: 60%
                position: unset

@media only screen and (min-width: 600px) and (max-width: 750px)
    .portfolio-page
        width: 78%
        height: 100%
    .portfolio-item-list
        justify-content: center
@media only screen and (min-width: 730px) and (max-width: 850px)
    .portfolio-page
        width: 78%
        height: 100%

    .portfolio-item-list
        justify-content: center
        .portfolio-item
            box-shadow: 20px 18px 63px -9px rgba(0, 0, 0, 0.37)
            width: 100%
            height: 60%
            margin-bottom: 10%
            &:before
                content: none
            .img-wrp
                box-shadow: none
                position: unset
                width: 100%
                height: 40%
            figcaption
                box-shadow: none
                position: unset
                width: 100%
                height: 60%