
@import './sass/_header.sass';
@import './sass/_about.sass';
@import './sass/_portfolio.sass';
@import './sass/_home.sass';
@import './sass/_contacts.sass';
@import './sass/_resume.sass';


.App {
  text-align: center;
  height: 100%;
  overflow: hidden;
}

.content {
  background-image: url(./img/grey_wash_wall.png);
  background-repeat: repeat; 
  width: 100%;
  height: 100%;

  overflow: hidden;
  position: absolute;
  right: 0;
  display: flex;
}
.tr-group{
  width: 100%;
  
}
//animation

.fade-enter {
  transform: translateX(-150%);
  
}

.fade-enter.fade-enter-active {
  transform: translateX(0);
  transition: transform 900ms ease-out;
  will-change: transform;
}
.fade-exit{
  transform: translateX(0);
}
.fade-exit.fade-exit-active{
  transform: translateX(150%);
  transition: transform 860ms ease-out;
  will-change: transform;
}


