
@import './sass/_header.sass';
@import './sass/_about.sass';
@import './sass/_portfolio.sass';
@import './sass/_home.sass';


.App {
  position: relative;
  text-align: center;
  height: 100vh;
}

.header-wrapper{
  height: 5vh;
}

.content {
  display: flex;
  height: 95vh;
}

